<%= component "heading", title: "Staff", stat: number_to_currency(@total_cost, :unit => "$") %>
<div class="">
  <%= component "item", title: "", subtitle: "", link: "", style_class: "none" do %>
    <%= link_to 'New Employee', new_employee_path %>
  <% end %>
  <% @employees.each do |employee| %>
    <%= component "item", title: employee.name, subtitle: employee.title, link: edit_employee_path(employee) do %>
      <%= link_to employee_salaries_path(employee) do %>
        <% if employee.salaries.last.nil? %>
          Add Salary
        <% else %>
          <div class="system-item__stats">
            <strong><%= number_to_currency(employee.salaries.last.salary, :unit => "$") %></strong><br>
            <%= time_ago_in_words(employee.salaries.last.effective) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>